<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Products</p>
              <p class="card-title">3
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">10,000,000 ₩
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K
                <p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> DMZ Universe</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                아이디
              </th>
              <th>
                시작일
              </th>
              <th>
                구독 기간
              </th>
              <th class="text-right">
                구독 상태
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  2022-12-15
                </td>
                <td>
                  2
                </td>
                <td class="text-right">
                  취소
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  2022-01-01
                </td>
                <td>
                  12
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  2022-10-12
                </td>
                <td>
                  2
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  2022-03-18
                </td>
                <td>
                  9
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  2022-02-07
                </td>
                <td>
                  10
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  2022-02-27
                </td>
                <td>
                  10
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  2022-09-14
                </td>
                <td>
                  3
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> DIGITAL TWIN</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                아이디
              </th>
              <th>
                시작일
              </th>
              <th>
                구독 기간
              </th>
              <th class="text-right">
                구독 상태
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  2022-12-15
                </td>
                <td>
                  2
                </td>
                <td class="text-right">
                  취소
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  2022-01-01
                </td>
                <td>
                  12
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  2022-10-12
                </td>
                <td>
                  2
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  2022-03-18
                </td>
                <td>
                  9
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  2022-02-07
                </td>
                <td>
                  10
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  2022-02-27
                </td>
                <td>
                  10
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  2022-09-14
                </td>
                <td>
                  3
                </td>
                <td class="text-right">
                  구독
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-body ">
        <div class="card-header ">
          <h5 class="card-title">Email Statistics</h5>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          Price
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-body ">
        <div class="card-header ">
          <h5 class="card-title">Email Statistics</h5>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          Price
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-body ">
        <div class="card-header ">
          <h5 class="card-title">Email Statistics</h5>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          Price
        </div>
      </div>
    </div>
  </div>
</div> -->
